<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        <a href="https://github.com/beliYU">{{title}}</a>
        </span>
    </div>
  </div>
</div>

<div class="container-fluid">



</div>

<app-wrapper-brush-zoom-2></app-wrapper-brush-zoom-2>

<footer class="container-fluid">
  <div class="row">
    <div class="text-center col-lg-12">
      <p>
        Copyright &copy; 2017 beliYU.
      </p>
    </div>
  </div>
</footer>
